<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Round.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78AF3CB41D3B7A96006BDB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AF3CC81D3B7A97006BDB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AF3CD31D3B7A97006BDB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
